
/* Footer */
.footer-wrapper {
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: 0.65em;
}

.my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.copyright-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.footer-links-terms ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

.footer-links-terms ul li:last-child {
    border-right: 0px;
}

.footer-links-terms ul li a {
    text-decoration: none;
    color: #515154;
}

.footer-links-terms ul li a:hover {
    text-decoration: underline;
}

.footer-country {
    display: inline-block;
}

.flag-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.footer-country-name {
    display: inline-block;
    vertical-align: top;
}



.apple-footer {
    background-color: #f5f5f5;
    padding: 30px 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
}

.footer-section {
    min-width: 0;

}

.footer-title {
    margin: 0 0 12px;
    font-size: 12px;
    font-weight: 600;
    color: #1d1d1f;
}

.footer-links {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #424245;
    font-size: 12px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-arrow {
    display: none;
}




@media (max-width: 768px) {
    .apple-footer {
        display: block;
        padding: 10px 12px 30px;
    }

    .footer-section {
        border-top: 1px solid #d2d2d7;
    }

    .footer-section:last-child {
        border-bottom: 1px solid #d2d2d7;
    }

    .footer-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 15px 0;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }

    .footer-links {
        display: none;
        margin: 0;
        padding: 0 20px 15px;
    }

    .footer-links li {
        margin-bottom: 15px;
    }

    .footer-links a {
        font-size: 14px;
        color: #424245;
    }

    .footer-arrow {
        display: block;
        /* font-size: 22px; */
        font-weight: 300;
        line-height: 1;
        /* transition: transform 0.2s ease; */
        user-select: none;
    }
}